<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel="stylesheet"  type="text/css" href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.js"></script>
</head>
<body>
<form method="post" action="/customer/register" class="layui-form layui-form-pane" >
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱：</label>
        <div class="layui-input-block">
            <input id="email" type="email" name="userMailaddress" class="layui-input" lay-verify="required" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码：</label>
        <div class="layui-input-block">
            <input id="password" type="password" name="passWord" class="layui-input" lay-verify="required" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱验证码：</label>
        <div class="layui-input-block">
            <input id="checkCode" type="text"  class="layui-input" lay-verify="required"/>
            <button id="sendCheckCode" type="button" class="layui-btn layui-btn-normal">获取验证码</button>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="submit" value="确认">
        </div>
    </div>
</form>
</body>
</html>