<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会员中心</title>
    <link rel="stylesheet" type="text/css" href="/main/css/index.css">
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body id="list-cont">
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/main/js/index.js"></script>

<div class="site-nav-bg">
    <div class="site-nav w1200">
        <p class="sn-back-home">
            <i class="layui-icon layui-icon-home"></i>
            <a th:href="@{'/home'}">首页</a>
        </p>
        <div class="sn-quick-menu">
            <div class="login"><a th:href="@{'/customer/login'}">登录</a></div>
            <div class="login"><a th:href="@{'/customer/register'}">注册</a></div>
            <div class="sp-cart"><a th:href="@{'/shopping-cart'}">购物车</a></div>
            <div class="layui-icon layui-icon-cart" style="color: #ee0000"></div>
        </div>
    </div>
</div>

<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a th:href="@{'/home'}" title="Mall">
                    <img src="/main/img/logo.png">
                </a>
            </h1>
        </div>
    </div>
</div>

<div class="content content-nav-base  login-content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont2">
            </div>
        </div>
    </div>
    <div class="login-bg">
        <div class="login-cont w1200">
            <div class="form-boxtwo">
                <form class="layui-form" action="" method="post">
                    <legend>会员中心</legend>
                    <div class="main-nav">
                        <div class="inner-cont0">
                            <div class="inner-cont2">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline iphone">
                            <div class="layui-input-inline">
                                <i class="layui-icon layui-icon-user iphone-icon"></i>
                                <input type="text" name="userName" id="userName"  placeholder="请输入用户名" autocomplete="off" class="layui-input" lay-verify="required" th:value="${user.userName}">
                            </div>
                        </div>
                        <div class="layui-inline iphone">
                            <div class="layui-input-inline">
                                <i class="layui-icon layui-icon-password iphone-icon"></i>
                                <input type="password" name="passWord" id="passWord"  placeholder="请输入密码" autocomplete="off" class="layui-input" lay-verify="required" th:value="${user.passWord}">
                            </div>
                        </div>
                        <div class="layui-inline iphone">
                            <div class="layui-input-inline">
                                <i class="layui-icon layui-icon-cellphone iphone-icon"></i>
                                <input type="text" name="userPhone" id="userPhone"  placeholder="请输入手机号" autocomplete="off" class="layui-input" lay-verify="required" th:value="${user.userPhone}">
                            </div>
                        </div>
                        <div class="layui-inline iphone">
                            <div class="layui-input-inline">
                                <i class="layui-icon layui-icon-male iphone-icon"></i>
                                <input type="text" name="userSex" id="userSex"  placeholder="请输入性别" autocomplete="off" class="layui-input" lay-verify="required" th:value="${user.userSex}">
                            </div>
                        </div>

                        <div class="layui-inline iphone">
                            <div class="layui-input-inline">
                                <i class="layui-icon layui-icon-friends iphone-icon"></i>
                                <input type="date" name="birthday" id="birthday" autocomplete="off" class="layui-input" lay-verify="required" th:value="${#dates.format(user.birthday, 'yyyy-MM-dd')}">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item login-btn">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit type="submit" lay-filter="Personal-center">修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <div class="ng-promise-box">
        <div class="ng-promise w1200">
            <p class="text">
                <a class="icon1" href="javascript:;">品类齐全，轻松购物</a>
                <a class="icon2" href="javascript:;">正品行货，精致服务</a>
                <a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>
            </p>
        </div>
    </div>
    <div class="mod_help w1200">
        <p>
            <a href="javascript:;">关于我们</a>
            <span>|</span>
            <a href="javascript:;">帮助中心</a>
            <span>|</span>
            <a href="javascript:;">售后服务</a>
        </p>
        <p class="coty">IT企业实习Team14版权所有</p>
    </div>
</div>


</body>
</html>