<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>个人资料</title>

		<link href="/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="/css/personal.css" rel="stylesheet" type="text/css">
		<link href="/css/infstyle.css" rel="stylesheet" type="text/css">
        <link href="/main/css/index.css" rel="stylesheet" type="text/css">
		<script src="/AmazeUI-2.4.2/assets/js/jquery.min.js" type="text/javascript"></script>
		<script src="/AmazeUI-2.4.2/assets/js/amazeui.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
        <script type="text/javascript" src="/layui/layui.js"></script>
	</head>

	<body>
					<!--顶部导航条 -->
					<div class="am-container">
						<ul class="message-l">
							<div class="topMessage">
								<div class="menu-hd">
									<a th:href="@{'/customer/login'}" target="_top" class="h"><(*￣▽￣*)/登录</a>
									<a th:href="@{'/customer/register'}" target="_top">&nbsp;&nbsp;(=ˇωˇ=)注册</a>
								</div>
							</div>
						</ul>
						<ul class="message-r">
							<div class="topMessage mini-cart">
								<div class="menu-hd"><a id="mc-menu-hd" th:href="@{'/cart/shopping-cart'}" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h"></strong></a></div>
							</div>
							<div class="topMessage favorite">
								<div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
						</ul>
					</div>

					<!--悬浮搜索框-->

					<div class="nav white">
						<div class="logoBig">
							<a th:href="@{/home}"><img src="/images/logobig.png"/></a>
						</div>

						<div class="search-bar pr">
							<form action="/product/search" method="post" >
								<input type="text"  name="productName" placeholder="请输入商品" autocomplete="off">
								<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
							</form>
						</div>
					</div>
						<div class="clear"></div>
            <div class="nav-table">
                <div class="long-title"><span class="all-goods">个人资料</span></div>
			</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-info">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">个人资料</strong> / <small>Personal&nbsp;information</small></div>
						</div>
						<hr/>

						<!--个人信息 -->
						<div class="info-main">
							<form class="am-form am-form-horizontal">
								<div class="am-form-group">
									<label  class="am-form-label">用户名</label>
									<div class="am-form-content">
                                        <input type="text" name="userName" id="userName" th:value="${user.userName}">
									</div>
								</div>
                                <div class="am-form-group">
                                    <label  class="am-form-label">密码</label>
                                    <div class="am-form-content">
                                        <input type="password" name="passWord" id="passWord"  th:value="${user.passWord}">
                                    </div>
                                </div>
								<div class="am-form-group">
									<label class="am-form-label">性别</label>
                                    <div class="am-form-content">
                                        <input type="text" name="userSex" id="userSex" value="">
                                    </div>
								</div>

								<div class="am-form-group">
									<label  class="am-form-label">生日</label>
                                    <div class="layui-inline iphone">
                                        <div class="layui-input-inline" style="margin-left: 57px">
                                            <input type="date" name="birthday" id="birthday"  th:value="${#dates.format(user.birthday, 'yyyy-MM-dd')}">
                                        </div>
                                    </div>
								</div>
								<div class="am-form-group">
									<label  class="am-form-label">手机号</label>
									<div class="am-form-content">
										<input  type="text" name="userPhone" id="userPhone" th:value="${user.userPhone}">
									</div>
								</div>

                                <div class="am-form-group">
                                    <label  class="am-form-label"><span>邮箱</span><span class="useremailstyle" style="font-weight: normal;margin-left: 57px" th:text="${user.userMailaddress}"></span></label>
                                </div>

								<div class="info-btn">
                                    <div class="am-btn am-btn-danger">保存修改</div>
								</div>

							</form>
						</div>

					</div>

				</div>
				<!--底部-->
				<div class="footer ">
					<div class="footer-hd ">
						<p>
							<a href="# ">关于我们</a>
							<b>|</b>
							<a href="# ">帮助中心</a>
							<b>|</b>
							<a href="# ">售后服务</a>
						</p>
					</div>
					<div class="footer-bd ">
						<p>
							<em>IT企业实习Team14版权所有</em>
						</p>
					</div>
				</div>
			</div>

			<aside class="menu">
				<ul>
					<li class="person">
						<a th:href="@{'/customer/center'}">个人中心</a>
					</li>
					<li class="person">
						<ul>
							<li class="active"> <a th:href="@{'/customer/center'}">个人资料</a></li>
							<li> <a th:href="@{'/delivery/addressPage'}">地址管理</a></li>
							<li> <a th:href="@{'/orders/showOrders'}">订单管理</a></li>
							<li> <a href="#">账户管理</a></li>
						</ul>
					</li>
				</ul>
			</aside>
		</div>
    <script type="text/javascript" th:inline="javascript">
        /*给予页面性别返回*/
		var user = [[${user}]];
		if(user.userSex=1)
		    document.getElementById("userSex").value="男";
		else
            document.getElementById("userSex").value="女";

        layui.use('layer',function () {
            $(".am-btn").click(function () {
                var userName = $("#userName").val();
                var passWord=$("#passWord").val();
                var userSex=$("#userSex").val();
                var date=$("#birthday").val();
                var userPhone=$("#userPhone").val();
                if(userSex!="男" && userSex!="女"){
                    layer.msg("性别格式错误！");
				}
				else if(IsValidDate(date)){
                    console.log(date);
                    layer.msg("请输入有效生日！");
				}
				else{
                    if(userSex=="男")
                        userSex=1;
                    else
                        userSex=0;
                    var birthday = new Date(date);
                    var data={"userName":userName, "passWord": passWord,"userPhone":userPhone,"userSex":userSex,"birthday":birthday};
                    console.log(data);
                    $.ajax({
                        url: "/customer/center",
                        type: "POST",
                        data: data,
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            if (data.status == "ok") {
                                layer.alert("修改成功！")
                            }
                        }
                    });
				}
            })

        });

        function IsValidDate(DateStr){
            var sDate=DateStr.replace(/(^\s+|\s+$)/g,'');
            if(sDate==''){
                return true;
            }

            var s=sDate.replace(/[\d]{ 4,4 }[\-/]{1}[\d]{1,2}[\-/]{1}[\d]{1,2}/g,'');
            if(s==''){
                var t=new Date(sDate.replace(/\-/g,'/'));
                var ar=sDate.split(/[-/:]/);
                if(ar[0]!=t.getYear()||ar[1]!=t.getMonth()+1||ar[2]!=t.getDate()){
                }
            }else{
                return false;
            }
            return true;
        }
	</script>
	<script type="text/javascript">


	</script>
	</body>

</html>