<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0 ,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>订单确认</title>
		<link href="/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
		<link href="/basic/css/demo.css" rel="stylesheet" type="text/css" />
		<link href="/css/cartstyle.css" rel="stylesheet" type="text/css" />
		<link href="/css/jsstyle.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="../js/address.js"></script>
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
		<script type="text/javascript" src="/layui/layui.js"></script>

	</head>

	<body>

	<!--顶部导航条 -->
	<div class="am-container header">
		<ul class="message-l">
			<div class="topMessage">
				<div class="menu-hd">
					<a th:href="@{'/customer/login'}" target="_top" class="h"><(*￣▽￣*)/登录</a>
					<a th:href="@{'/customer/register'}" target="_top">&nbsp;&nbsp;(=ˇωˇ=)注册</a>
				</div>
			</div>
		</ul>
		<ul class="message-r">
			<div class="topMessage my-shangcheng">
				<div class="menu-hd MyShangcheng"><a th:href="@{'/customer/center'}" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
			</div>
			<div class="topMessage mini-cart">
				<div class="menu-hd"><a id="mc-menu-hd" th:href="@{'/cart/shopping-cart'}" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h"></strong></a></div>
			</div>
			<div class="topMessage favorite">
				<div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
			</div>
		</ul>
	</div>

	<!--悬浮搜索框-->


	<div class="nav white">
		<div class="logo"><img src="/images/logo.png" /></div>
		<div class="logoBig">
			<a th:href="@{/home}"><img src="/images/logobig.png"/></a>
		</div>

		<div class="search-bar pr">
			<form action="/product/search" method="post" >
				<input type="text"  name="productName" placeholder="请输入商品" autocomplete="off">
				<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
			</form>
		</div>
	</div>

	<div class="clear"></div>

	<div class="concent">
				<!--地址 -->
				<div class="paycont">



					<!--订单 -->
					<div class="concent">
						<div id="payTable">
							<h3>确认订单信息</h3>
							<div class="cart-table-th">
								<div class="wp">

									<div class="th th-item">
										<div class="td-inner">商品信息</div>
									</div>
									<div class="th th-price">
										<div class="td-inner">单价</div>
									</div>
									<div class="th th-amount">
										<div class="td-inner" style="margin-left: 150px">数量</div>
									</div>
								</div>
							</div>
							<div class="clear"></div>
							</div>
							<tr id="J_BundleList_s_1911116345_1" class="item-list">
								<div id="J_Bundle_s_1911116345_1_0" class="bundle  bundle-last">
									<div class="bundle-main">
										<ul class="item-content clearfix" th:each="cartProduct:${session.cartProducts}">
											<div class="pay-phone">
												<li class="td td-item">
													<div class="item-pic">
														<a th:href="'/product/detail?id=' + ${cartProduct.productId}" target="_blank"  class="J_MakePoint" data-point="tbcart.8.12">
															<img src="/images/imgsearch1_80x80.jpg" class="itempic J_ItemImg"></a>
													</div>
													<div class="item-info">
														<div class="item-basic-info">
															<a   th:text="${cartProduct.productName}" class="item-title J_MakePoint" data-point="tbcart.8.11"></a>
														</div>
													</div>
												</li>
												<li class="td td-info">
													<div class="item-props">
														<span class="sku-line">口味：原味</span>
														<span class="sku-line">包装：手袋单人份</span>
													</div>
												</li>
												<li class="td td-price">
													<div class="item-price price-promo-promo">
														<div class="price-content">
															<em class="J_Price price-now" style="color: #ee0000" th:text="${cartProduct.price}"></em><span style="color: #ee0000">￥</span>
														</div>
													</div>
												</li>
											</div>

											<li class="td td-amount">
												<div class="amount-wrapper ">
													<div class="item-amount ">
														<span class="phone-title">购买数量</span>
														<div class="sl" style="margin-left: 150px">
															<span style="font-weight: normal" th:text="${cartProduct.numProduct}"></span>
														</div>
													</div>
												</div>
											</li>

										</ul>
										<div class="clear"></div>

									</div>
							</tr>
							</div>
					<!--支付方式-->
					<div class="logistics">
						<h3>选择支付方式</h3>
						<ul class="pay-list">
							<li class="pay taobao" selectid="1"><img src="../images/zhifubao.jpg" />支付宝<span></span></li>
							<li class="pay qq" selectid="2"><img src="../images/weizhifu.jpg" />微信<span></span></li>
							<li class="pay card" selectid="3"><img src="../images/wangyin.jpg" />银联<span></span></li>
						</ul>
					</div>
					<div class="clear"></div>
							<div class="clear"></div>
							<div class="pay-total">
						<!--留言-->
							<div class="order-extra">
								<div class="order-user-info">
									<div id="holyshit257" class="memo">
										<label>买家留言：</label>
										<input type="text" title="选填,对本次交易的说明（建议填写已经和卖家达成一致的说明）" placeholder="选填,建议填写和卖家达成一致的说明" class="memo-input J_MakePoint c2c-text-default memo-close">
										<div class="msg hidden J-msg">
											<p class="error">最多输入500个字符</p>
										</div>
									</div>
								</div>
							</div>

							<!--优惠券 -->
							<div class="buy-agio">
								<li class="td td-coupon">

									<span class="coupon-title">优惠券</span>
									<select data-am-selected>
										<option value="a" selected>
											<div class="c-price">
												<strong>￥4</strong>
											</div>
											<div class="c-limit">
												【无使用门槛】
											</div>
										</option>
										<option value="c">
											<div class="c-price">
												<strong>￥8</strong>
											</div>
											<div class="c-limit">
												【消费满95元可用】
											</div>
										</option>
										<option value="b" selected>
											<div class="c-price">
												<strong>╮(๑•́ ₃•̀๑)╭</strong>
											</div>
											<div class="c-limit">
												【无优惠券】
											</div>
										</option>


									</select>
								</li>

								<li class="td td-bonus">

									<span class="bonus-title">红包</span>
									<select data-am-selected>
										<option value="a">
											<div class="item-info">
												¥50.00<span>元</span>
											</div>
											<div class="item-remainderprice">
												<span>还剩</span>10.40<span>元</span>
											</div>
										</option>
										<option value="c">
											<div class="item-info">
												¥50.00<span>元</span>
											</div>
											<div class="item-remainderprice">
												<span>还剩</span>10.40<span>元</span>
											</div>
										</option>
										<option value="b" selected>
											<div class="item-info">
												<span><strong>╮(๑•́ ₃•̀๑)╭</strong></span>
											</div>
											<div class="item-remainderprice">
												<span>【无红包】</span>
											</div>
										</option>
									</select>

								</li>

							</div>
							<div class="clear"></div>
							</div>
							<!--含运费小计 -->
							<div class="buy-point-discharge ">
								<p class="price g_price ">
									合计 <span style="color: #ee0000">￥</span><em class="pay-sum" id="J_Total"></em>
								</p>
							</div>

							<!--信息 -->
							<div class="order-go clearfix">
								<div class="pay-confirm clearfix">
									<div class="box">
										<div tabindex="0" id="holyshit267" class="realPay"><em class="t">实付款：</em>
											<span class="price g_price ">
                                    <span style="color: #ee0000">￥</span> <em class="style-large-bold-red " id="J_ActualFee"></em>
											</span>
										</div>

										<div id="holyshit268" class="pay-address">

											<p class="buy-footer-address">
												<span class="buy-line-title buy-line-title-type">寄送至：</span>
												<span class="buy--address-detail" id="address"></span>
												</span>
											</p>
											<p class="buy-footer-address">
												<span class="buy-line-title">收货人：</span>
												<span class="buy-address-detail">   
                                         <span class="buy-user" id="shouhuoren"></span>
												<span class="buy-phone" id="buyerphone"></span>
												</span>
											</p>
										</div>
									</div>

									<div id="holyshit269" class="submitOrder">
										<div class="go-btn-wrap">
											<a id="J_Go"  class="btn-go" >结算</a>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				</div>
	<div class="footer ">
		<div class="footer-hd ">
			<p>
				<a href="# ">关于我们</a>
				<b>|</b>
				<a href="# ">帮助中心</a>
				<b>|</b>
				<a href="# ">售后服务</a>
			</p>
		</div>
		<div class="footer-bd ">
			<p>
				<em>IT企业实习Team14版权所有</em>
			</p>
		</div>
	</div>
			</div>
			<div class="theme-popover-mask"></div>
			<div class="theme-popover">

				<!--标题 -->
				<div class="am-cf am-padding">
					<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">新增地址</strong> / <small>Add address</small></div>
				</div>
				<hr/>

				<div class="am-u-md-12">
					<form class="am-form am-form-horizontal">

						<div class="am-form-group">
							<label for="user-name" class="am-form-label">收货人</label>
							<div class="am-form-content">
								<input type="text" id="user-name" placeholder="收货人">
							</div>
						</div>

						<div class="am-form-group">
							<label for="user-phone" class="am-form-label">手机号码</label>
							<div class="am-form-content">
								<input id="user-phone" placeholder="手机号必填" type="email">
							</div>
						</div>

						<div class="am-form-group">
							<label for="user-intro" class="am-form-label">详细地址</label>
							<div class="am-form-content">
								<textarea class="" rows="3" id="user-intro" placeholder="输入详细地址（100字以内）"></textarea>
							</div>
						</div>

						<div class="am-form-group theme-poptit">
							<div class="am-u-sm-9 am-u-sm-push-3">
								<div class="am-btn am-btn-danger">保存</div>
								<div class="am-btn am-btn-danger close">取消</div>
							</div>
						</div>

					</form>
				</div>

			</div>
	<div class="clear"></div>
	<script th:inline="javascript">

        var cartProducts=[[${session.cartProducts}]];
        var ordersList=[[${session.ordersList}]];
        document.getElementById("address").innerHTML=ordersList[0].address;
		document.getElementById("shouhuoren").innerHTML=ordersList[0].name;
        document.getElementById("buyerphone").innerHTML=ordersList[0].userPhone;
		/*计算总价格*/
        var singlesum=[];
        var sum=0;
        for(i=0;i<cartProducts.length;i++){
            singlesum[i]=cartProducts[i].price*cartProducts[i].numProduct;
            sum=singlesum[i]+sum;
        }
        sum=sum+".00";
        document.getElementById("J_Total").innerHTML=sum;
        document.getElementById("J_ActualFee").innerHTML=sum;
	</script>
	<!--进入结算页面-->
	<script type="text/javascript">
        layui.use('layer',function () {
            $(".btn-go").click(function () {
                var selectedid=$(".selected").attr("selectid");
                if(selectedid!=undefined)
                    window.location.href="/payment/payorders";
                else
                    layer.alert("请选择支付方式！")
            });
		});
	</script>
	</body>

</html>