<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mall</title>
    <link rel="stylesheet" type="text/css" href="/main/css/index.css">
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body id="list-cont">
     <script type="text/javascript" src="/layui/layui.js"></script>
     <script type="text/javascript" src="/main/js/index.js"></script>
<div class="site-nav-bg">
    <div class="site-nav w1200">
        <p class="sn-back-home">
            <i class="layui-icon layui-icon-home"></i>
            <a th:href="@{'/home'}">首页</a>
        </p>
        <div class="sn-quick-menu">
            <div class="login"><a th:href="@{'/customer/login'}">登录</a></div>
            <div class="login"><a th:href="@{'/customer/register'}">注册</a></div>
            <div class="sp-cart"><a th:href="@{'/shopping-cart'}">购物车</a></div>
            <div class="layui-icon layui-icon-cart" style="color: #ee0000"></div>
        </div>
    </div>
</div>


<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a th:href="@{'/home'}" title="Mall">
                    <img src="/main/img/logo.png">
                </a>
            </h1>
            <div class="mallSearch">
                <form action="commodity.html" class="layui-form" novalidate method="post">
                    <input type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input" placeholder="搜索商品">
                    <!--提交搜索字段到searchstr-->
                    <input type="hidden" name="searchstr" value="">
                    <button class="layui-btn">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a>&nbsp;</a>
                    <a>&nbsp;</a>
                    <a>&nbsp;</a>
                    <a>&nbsp;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="category-con">
        <div class="category-inner-con w1200">
            <div class="category-type">
                <h3>商品分类</h3>
            </div>
            <div class="category-tab-content">
                <div class="nav-con">
                    <ul class="normal-nav layui-clear">
                        <li class="nav-item">
                            <div class="title">服装</div>
                            <p><a href="#" class="littletit">男装</a><a href="#" class="littletit">女装</a><a href="#" class="littletit">儿童装</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                        <li class="nav-item">
                            <div class="title">运动户外</div>
                            <p><a href="#" class="littletit">登山鞋</a><a href="#" class="littletit">旅行箱</a><a href="#" class="littletit">户外</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                        <li class="nav-item">
                            <div class="title">化妆品</div>
                            <p><a href="#" class="littletit">护肤品</a><a href="#" class="littletit">漱口水</a><a href="#" class="littletit">彩妆</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                        <li class="nav-item">
                            <div class="title">饰品</div>
                            <p><a href="#" class="littletit">腕表</a><a href="#" class="littletit">烟具</a><a href="#" class="littletit">眼镜</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                        <li class="nav-item">
                            <div class="title">数码</div>
                            <p><a href="#" class="littletit">智能手机</a><a href="#" class="littletit">主机</a><a href="#" class="littletit">电脑</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                        <li class="nav-item">
                            <div class="title">母婴用品</div>
                            <p><a href="#" class="littletit">童装</a><a href="#" class="littletit">玩具</a><a href="#" class="littletit">奶粉</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                        <li class="nav-item">
                            <div class="title">家电</div>
                            <p><a href="#" class="littletit">空调</a><a href="#" class="littletit">冰箱</a><a href="#" class="littletit">洗衣机</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                        <li class="nav-item nobor">
                            <div class="title">图书音像</div>
                            <p><a href="#" class="littletit">小说</a><a href="#" class="littletit">教材</a><a href="#" class="littletit">学习考试</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-carousel" id="invert">
            <div carousel-item>
                <div><img src="/main/img/banner1.jpg"></div>
                <div><img src="/main/img/banner2.jpg"></div>
                <div><img src="/main/img/banner3.jpg"></div>
            </div>
        </div>
    </div>
    <div class="floors">
        <div class="sk">
            <div class="sk_inner w1200">
                <div class="sk_hd">
                    <a href="#">
                        <img src="/main/img/shout.jpg">
                    </a>
                </div>
            </div>
            <div class="sk_bd">
                    <div class={"layui-carousel"} id="invert2">
                            <div carousel-item>
                                <div class="item-box">
                                    <div class="item">
                                        <a href="#"><img src="/main/img/proexam_1.jpg"></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="/main/img/proexam_2.jpg"></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="/main/img/proexam_3.jpg"></a>
                                    </div>
                                    <div class="item">
                                        <a href="#"><img src="/main/img/proexam_4.jpg"></a>
                                    </div>
                                </div>
                            </div>
            </div>
        </div>
</div>
<div class="footer">
    <div class="ng-promise-box">
        <div class="ng-promise w1200">
            <p class="text">
                <a class="icon1" href="javascript:;">品类齐全，轻松购物</a>
                <a class="icon2" href="javascript:;">正品行货，精致服务</a>
                <a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>
            </p>
        </div>
    </div>
    <div class="mod_help w1200">
        <p>
            <a href="javascript:;">关于我们</a>
            <span>|</span>
            <a href="javascript:;">帮助中心</a>
            <span>|</span>
            <a href="javascript:;">售后服务</a>
        </p>
        <p class="coty">IT企业实习Team14版权所有</p>
    </div>
</div>
     <script src="/layui/layui.js"></script>
     <script>
         layui.use('carousel', function(){
             var carousel = layui.carousel;
             //建造实例
             carousel.render({
                 elem: '#invert'
                 ,width: '1157px' //设置容器宽度
                 ,height:'400px'//设置容器高度
                 ,margin:'0px 0px 0px 200px'
                 ,arrow: 'always' //始终显示箭头
             });
             carousel.render({
                 elem: '#invert2'
                 ,width: '100%' //设置容器宽度
                 ,arrow: 'always'
                 ,height:'298'
                 ,indicator:'none'
             })
         });
     </script>
</body>
</html>